@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2"); 
}



img {
    max-width: 100%;
    height: auto; 
}

h1 {
    margin: 0;
}

body {background-color:darkcyan;
    font-family: "Avara-Bold", serif; 
}


.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px; 
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;  
    grid-template-areas:
    "name name name name bio"
    "image-2 image-2 image-1 image-1 text-1"
    ". . . . text-2"
    "image-3 image-3 . . text-3";
}

.name {grid-area: name; 
}
.name h1 {
    text-align: center;
    font-size: 100px;
    margin: 20;
    /* font-family:Arial, Helvetica, sans-serif; */
}

.bio {
    grid-area: bio; 
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1; 
}

.text-2 {
    grid-area: text-2; 
}

.text-3 {
    grid-area: text-3; 
}