
img {
    max-width: 100%;
    height: auto; 
}

h1 {
    margin: 0;
}

.banner-titel {
    font-family: "comba", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 43pt;
     position: fixed;
  z-index: 10; /* Weiter vorne, überlagert .hintergrund */
}

.banner-bio {
    font-family: Arial, Helvetica, sans-serif;
     position: fixed;
  z-index: 10; /* Weiter vorne, überlagert .hintergrund */
  margin-top: 150px;
}

.banner-mail {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed; 
    z-index: 10; 
     margin-top: 185px;
}


body {
    background-color:rgb(0, 134, 139);
}

a {
    color: inherit; 
    text-decoration: none;
}

.banner-flaeche {
    position: fixed;
    top: 0;
    left: 0;
    width: 383px; /* Breite der Fläche */
    height: 1060px; /* Höhe der Fläche */
    background-color: rgb(194, 66, 66); /* Hintergrundfarbe */
  z-index: 1; /* Weiter hinten */
    /* Optional: Rahmen */
}



.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px; 
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;  
    grid-template-areas:
    "banner zoom zoom zoom image-1"
    "banner zoom zoom zoom image-2"
    "banner zoom zoom zoom image-3"
    "banner zoom zoom zoom image-4"
    "banner zoom zoom zoom image-5"
    "banner zoom zoom zoom image-6"
    "banner . . . image-7"
    "banner . . . image-8"
    "banner . . . image-9"
    "banner . . . image-10"
    "banner . . . image-11"
    "banner . . . image-12"
    "banner . . . image-13"
    "banner . . . image-14"
    "banner . . . image-15"
    "banner . . . image-16"
    "banner . . . image-17"
    "banner . . . image-18"
    "banner . . . image-19";
}



.banner {
    grid-area: banner;
}

.zoom-content {
    font-family:Arial, Helvetica, sans-serif;

}


.zoom {
    grid-area: zoom;
    opacity: 0;
    transition: opacity 0.5s ease;

    position: sticky;
    top: 15px; /* Abstand vom oberen Rand */
    align-self: start;
}

.zoom-content {
  display: none;
}


.image-1 {
    grid-area: image-1;
}

.image-1:hover ~ .zoom,
.image-2:hover ~ .zoom,
.image-3:hover ~ .zoom,
.image-4:hover ~ .zoom,
.image-5:hover ~ .zoom,
.image-6:hover ~ .zoom,
.image-7:hover ~ .zoom,
.image-8:hover ~ .zoom,
.image-9:hover ~ .zoom,
.image-10:hover ~ .zoom,
.image-11:hover ~ .zoom,
.image-12:hover ~ .zoom,
.image-13:hover ~ .zoom,
.image-14:hover ~ .zoom,
.image-15:hover ~ .zoom,
.image-16:hover ~ .zoom,
.image-17:hover ~ .zoom,
.image-18:hover ~ .zoom,
.image-19:hover ~ .zoom  
 {
  opacity: 1;
}

.image-1:hover ~ .zoom .zoom-1 {
  display: block;
}

.image-2:hover ~ .zoom .zoom-2 {
  display: block;
}

.image-3:hover ~ .zoom .zoom-3 {
  display: block;
}

.image-4:hover ~ .zoom .zoom-4 {
  display: block;
}

.image-5:hover ~ .zoom .zoom-5 {
  display: block;
}

.image-6:hover ~ .zoom .zoom-6 {
  display: block;
}

.image-7:hover ~ .zoom .zoom-7 {
  display: block;
}

.image-8:hover ~ .zoom .zoom-8 {
  display: block;
}

.image-9:hover ~ .zoom .zoom-9 {
  display: block;
}

.image-10:hover ~ .zoom .zoom-10 {
  display: block;
}

.image-11:hover ~ .zoom .zoom-11 {
  display: block;
}

.image-12:hover ~ .zoom .zoom-12 {
  display: block;
}

.image-13:hover ~ .zoom .zoom-13 {
  display: block;
}

.image-14:hover ~ .zoom .zoom-14 {
  display: block;
}

.image-15:hover ~ .zoom .zoom-15 {
  display: block;
}

.image-16:hover ~ .zoom .zoom-16 {
  display: block;
}

.image-17:hover ~ .zoom .zoom-17 {
  display: block;
}

.image-18:hover ~ .zoom .zoom-18 {
  display: block;
}

.image-19:hover ~ .zoom .zoom-19 {
  display: block;
}



.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4; 
}

.image-5 {
    grid-area: image-5;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}

.image-10 {
    grid-area: image-10; 
}

.image-11 {
    grid-area: image-11;
}

.image-12 {
    grid-area: image-12;
}

.image-13 {
    grid-area: image-13;
}

.image-14 {
    grid-area: image-14;
}

.image-15 {
    grid-area: image-15;
}

.image-16 {
    grid-area: image-16;
}

.image-17 {
    grid-area: image-17; 
}

.image-18 {
    grid-area: image-18;
}

.image-19 {
    grid-area: image-19;
}

.text-1 {
    grid-area: text-1;
    font-family: Arial, Helvetica, sans-serif; 
}